<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <link rel="stylesheet" href="style.css">
    <!--
    Use cases
    =========
    1. List the bugs - done
    2. Add a new bug - done
    3. Toggle the 'closed' status of a bug (use ng-class) - done
    4. Remove Closed bugs - done
    5. Display stats -  done
    6. Search for the bugs - done
    7. Sort the bugs - done
    8. Display the "createdAt"
    9. Persist the bugs in the storage
    10. Make the storage option (localStorage or sessionStorage) configurable
    11. Persist the bugs in the server
    12. Enable routing
    13. Add 'project' support

    -->
    <script src="angular.js"></script>
    <script>



        var bugTrackerApp = angular.module("bugTrackerApp", []);

        bugTrackerApp.factory("Bug", function getBug(){
            function Bug(defaults){
                defaults = defaults || {};
                this.name = defaults.name || '';
                this.isClosed = defaults.isClosed || false;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

       /* bugTrackerApp.value("Bug", (function getBug(){
            function Bug(defaults){
                defaults = defaults || {};
                this.name = defaults.name || '';
                this.isClosed = defaults.isClosed || false;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        })());*/

        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.bugs = [
                new Bug({name : "Stack overflow error", isClosed : false}),
                new Bug({name : "Object reference not found", isClosed : true}),
                new Bug({name : "Invalid operation performed", isClosed : true}),
                new Bug({name : "Server communication error", isClosed : false})
            ];
            $scope.newBug = ''
            $scope.addNew = function(){
                $scope.bugs.push(new Bug({
                    name : $scope.newBug
                    }));
                $scope.newBug = '';
            };
            $scope.toggle = function(bug){
                bug.toggle();
            };
            $scope.getClosedCount = function(){
                return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                }).length;
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length -1; i>=0; i--){
                    if ($scope.bugs[i].isClosed){
                        $scope.bugs.splice(i,1);
                    }
                }
            };

        });
        /*bugTrackerApp.filter("closedCount", function(){
            return function(data){
                var result = 0;
                for(var i=0; i<data.length; i++)
                    if (data[i].isClosed)
                        ++result;
                return result;
            }
        })*/
        bugTrackerApp.filter("closedCount", function($filter){
            return function(data){
                var builtInFilter = $filter('filter');
                return builtInFilter(data, {isClosed : true}).length;
            }
        });
        bugTrackerApp.value("appDefaults", {
            trimLength : 20,
            bugDefault : {name : null, isClosed : true}
        });

        bugTrackerApp.filter("trimText", function(appDefaults){
            return function(data, trimLength){
                trimLength = trimLength || appDefaults.trimLength;
                return data.length < trimLength ? data : data.substr(0,trimLength) + "..."
            }
        });
    </script>
</head>
<body ng-app="bugTrackerApp" ng-controller="bugsController">
    <h1>Bug Tracker</h1>
    <div class="stats" >
    <!--<span class="closed">{{(bugs | filter:{isClosed:true}).length}}</span> -->
    <span class="closed">{{bugs | closedCount}}</span>
    /
    <span>{{bugs.length}}</span></div>
    <div class="search">
        <label for="">Search :</label>
        <input type="text" ng-model="searchBug.name">
        <label for="">Closed ?</label>
        <input type="checkbox" ng-model="searchBug.isClosed" >
        <a href="#" ng-click="searchBug.isClosed = undefined">Show All</a>
    </div>
    <div class="Order">
        <label for="">Order By:</label>
        <!--<input type="text" ng-model="sortBugBy.attrName">-->
        <select ng-model="sortBugBy.attrName">
            <option value="name">name</option>
            <option value="isClosed">isClosed</option>
        </select>
        <label for="">Descending ? :</label>
        <input type="checkbox" name="" id="" ng-model="sortBugBy.descending">
    </div>
    <div class="content">
        <label for="">Bug :</label>
        <input type="text" name="" id="" ng-model="newBug">
        <input type="button" value="Add New" ng-click="addNew()">
        <input type="button" value="Remove Closed" ng-click="removeClosed()">
        <ol>
            <li
                ng-repeat="bug in bugs | filter:searchBug | orderBy:sortBugBy.attrName: sortBugBy.descending"
                ng-click="toggle(bug)"
                ng-class="{closed : bug.isClosed}"
                >{{bug.name | trimText:30}}</li>
        </ol>
    </div>
</body>
</html>
