h1{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 10px;
    background-color: lightblue;
}
div{
    margin-bottom: 5px;
}
.bugsList li{
    list-style: none;
    border : 2px solid gray;
    background-color: lightgray;
    padding : 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
}
ol.bugsList{
    width: 50%;
}
.closed {
    color : red;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
}
.stats span{
    font-size: 16pt;
}
.timestamp {
    font-size: small;
    font-style: italic;
}
.title{
    font-size: 18pt;

}
.title .projectName{
    font-size: small;
}
.projectList li{
    list-style: none;
    float: left;
    display: inline;
    margin-right: 10px;
    border : 2px solid gray;
    background-color: lightgray;
    padding : 5px;
    border-radius: 4px;
    cursor: pointer;
}

.projectList li.selected{
    list-style: none;
    float: left;
    display: inline;
    margin-right: 10px;
    border : 2px solid red;
    background-color: lightpink;
    padding : 5px;
    border-radius: 4px;
    cursor: pointer;
}
section{
    clear : both;
    margin-bottom: 10px;
    /*border-bottom: 2px solid gray;    */
}
